/* === GLOBAL STYLES ===*/

/* == checklist == */

/* [ ] color pallete */

/* == root values and variables == */

:root {
    --primary-main: rgba(10, 100, 110, 1);
    --primary-variant: rgba(5, 95, 105, 1);
    --primary-emphasis: rgba(0, 65, 75, 1);
    --secondary-main: rgba(115, 115, 115, 1);
    --secondary-variant: rgba(110, 110, 110, 1);
    --secondary-emphasis: rgba(95, 95, 95, 1);
    --light-main: rgba(250, 255, 255, 1);
    --light-variant: rgba(245, 250, 250, 1);
    --light-emphasis: rgba(230, 235, 235, 1);
    --dark-main: rgb(3, 30, 30);
    --dark-variant: rgb(0, 25, 25);
    --dark-emphasis: rgb(0, 10, 10);
    --complementary-main: rgba(245, 155, 145, 1);
    --complementary-variant: rgba(240, 150, 140, 1);
    --complementary-emphasis: rgba(225, 135, 125, 1);
    --accent-main: rgba(60, 20, 115, 1);
    --accent-variant: rgba(55, 15, 110, 1);
    --accent-emphasis: rgba(40, 0, 95, 1);
    --warning-main: rgba(235, 145, 15, 1);
    --warning-variant: rgba(230, 140, 10, 1);
    --warning-emphasis: rgba(215, 125, 0, 1);
    --danger-main: rgba(180, 25, 15, 1);
    --danger-variant: rgba(175, 20, 10, 1);
    --danger-emphasis: rgba(160, 5, 0, 1);
    --transparent-main: rgba(250, 255, 255, 0);
    --transparent-variant: rgba(245, 250, 250, 0);
    --transparent-emphasis: rgba(230, 235, 235, 0);
}

:root {
    --radius-1: 0.2rem;
    --radius-2: 0.4rem;
    --radius-3: 0.6rem;
    --radius-4: 0.8rem;
    --radius-5: 1rem;
    --radius-6: 1.5rem;
    --radius-7: 2rem;
    --radius-8: 2.5rem;
}

:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.3s;
}

/* == box sizing == */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* == styles == */

body {
    background-color: var(--light-main);
}

.row {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 6.25%;
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: 12.5%;
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    width: 18.75%;
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

.col-5 {
    width: 31.25%;
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 37.5%;
    display: flex;
    flex-wrap: wrap;
}

.col-7 {
    width: 43.75%;
    display: flex;
    flex-wrap: wrap;
}

.col-8 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.col-9 {
    width: 56.25%;
    display: flex;
    flex-wrap: wrap;
}

.col-10 {
    width: 62.5%;
    display: flex;
    flex-wrap: wrap;
}

.col-11 {
    width: 68.75%;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.col-13 {
    width: 81.25%;
    display: flex;
    flex-wrap: wrap;
}

.col-14 {
    width: 87.5%;
    display: flex;
    flex-wrap: wrap;
}

.col-15 {
    width: 93.75%;
    display: flex;
    flex-wrap: wrap;
}

.col-16 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.w-1 {
    width: 6.25%;
}

.w-2 {
    width: 12.5%;
}

.w-3 {
    width: 18.75%;
}

.w-4 {
    width: 25%;
}

.w-5 {
    width: 31.25%;
}

.w-6 {
    width: 37.5%;
}

.w-7 {
    width: 43.75%;
}

.w-8 {
    width: 50%;
}

.w-9 {
    width: 56.25%;
}

.w-10 {
    width: 62.5%;
}

.w-11 {
    width: 68.75%;
}

.w-12 {
    width: 75%;
}

.w-13 {
    width: 81.25%;
}

.w-14 {
    width: 87.5%;
}

.w-15 {
    width: 93.75%;
}

.w-16 {
    width: 100%;
}

.border {
    border: 1px solid;
}

.border-thicker {
    border: 2px solid;
}

.border-thickest {
    border: 3px solid;
}

.text-bg-primary {
    background-color: var(--primary-main);
    color: var(--light-main);
}

.text-bg-secondary {
    background-color: var(--secondary-main);
    color: var(--light-main);
}

.text-bg-light {
    background-color: var(--light-main);
    color: var(--dark-main);
}

.text-bg-dark {
    background-color: var(--dark-main);
    color: var(--light-main);
}

.text-bg-complementary {
    background-color: var(--complementary-main);
    color: var(--dark-main);
}

.text-bg-accent {
    background-color: var(--accent-main);
    color: var(--light-main);
}

.text-bg-warning {
    background-color: var(--warning-main);
    color: var(--dark-main);
}

.text-bg-danger {
    background-color: var(--danger-main);
    color: var(--light-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 1rem;
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    width: 100%;
    margin-bottom: 0.75rem;
}

button {
    background-color: var(--transparent-main);
    border: 0 solid var(--transparent-emphasis);
    border-radius: var(--radius-3);
    padding: 0.75em;
    cursor: pointer;
    display: block;
}

.skeu-primary {
    box-shadow: 0 5px var(--primary-emphasis);
}

.skeu-primary:active {
    box-shadow: 0 3px var(--primary-emphasis);
    transform: translateY(2px);
}

.skeu-secondary {
    box-shadow: 0 5px var(--secondary-emphasis);
}

.skeu-secondary:active {
    box-shadow: 0 3px var(--secondary-emphasis);
    transform: translateY(2px);
}

.skeu-light {
    box-shadow: 0 5px var(--light-emphasis);
}

.skeu-light:active {
    box-shadow: 0 3px var(--light-emphasis);
    transform: translateY(2px);
}

.skeu-dark {
    box-shadow: 0 5px var(--dark-emphasis);
}

.skeu-dark:active {
    box-shadow: 0 3px var(--dark-emphasis);
    transform: translateY(2px);
}

.skeu-complementary {
    box-shadow: 0 5px var(--complementary-emphasis);
}

.skeu-complementary:active {
    box-shadow: 0 3px var(--complementary-emphasis);
    transform: translateY(2px);
}

.skeu-accent {
    box-shadow: 0 5px var(--accent-emphasis);
}

.skeu-accent:active {
    box-shadow: 0 3px var(--accent-emphasis);
    transform: translateY(2px);
}

.skeu-warning {
    box-shadow: 0 5px var(--warning-emphasis);
}

.skeu-warning:active {
    box-shadow: 0 3px var(--warning-emphasis);
    transform: translateY(2px);
}

.skeu-danger {
    box-shadow: 0 5px var(--danger-emphasis);
}

.skeu-danger:active {
    box-shadow: 0 3px var(--danger-emphasis);
    transform: translateY(2px);
}

.btn-primary {
    background-color: var(--primary-main);
    border-color: var(--primary-emphasis);
    color: var(--light-main);
}

.btn-primary:hover {
    background-color: var(--primary-variant);
}

.btn-primary:active {
    background-color: var(--primary-variant);
    border-color: var(--primary-emphasis);
}

.btn-secondary {
    background-color: var(--secondary-main);
    border-color: var(--secondary-emphasis);
    color: var(--light-main);
}

.btn-secondary:hover {
    background-color: var(--secondary-variant);
}

.btn-secondary:active {
    background-color: var(--secondary-variant);
    border-color: var(--secondary-emphasis);
}

.btn-light {
    background-color: var(--light-main);
    border-color: var(--light-emphasis);
    color: var(--dark-main);
}

.btn-light:hover {
    background-color: var(--light-variant);
}

.btn-light:active {
    background-color: var(--light-variant);
    border-color: var(--light-emphasis);
}

.btn-dark {
    background-color: var(--dark-main);
    border-color: var(--dark-emphasis);
    color: var(--light-main);
}

.btn-dark:hover {
    background-color: var(--dark-variant);
}

.btn-dark:active {
    background-color: var(--dark-variant);
    border-color: var(--dark-emphasis);
}

.btn-complementary {
    background-color: var(--complementary-main);
    border-color: var(--complementary-emphasis);
    color: var(--dark-main);
}

.btn-complementary:hover {
    background-color: var(--complementary-variant);
}

.btn-complementary:active {
    background-color: var(--complementary-variant);
    border-color: var(--complementary-emphasis);
}

.btn-accent {
    background-color: var(--accent-main);
    border-color: var(--accent-emphasis);
    color: var(--light-main);
}

.btn-accent:hover {
    background-color: var(--accent-variant);
}

.btn-accent:active {
    background-color: var(--accent-variant);
    border-color: var(--accent-emphasis);
}

.btn-warning {
    background-color: var(--warning-main);
    border-color: var(--warning-emphasis);
    color: var(--dark-main);
}

.btn-warning:hover {
    background-color: var(--warning-variant);
}

.btn-warning:active {
    background-color: var(--warning-variant);
    border-color: var(--warning-emphasis);
}

.btn-danger {
    background-color: var(--danger-main);
    border-color: var(--danger-emphasis);
    color: var(--light-main);
}

.btn-danger:hover {
    background-color: var(--danger-variant);
}

.btn-danger:active {
    background-color: var(--danger-variant);
    border-color: var(--danger-emphasis);
}
