/* === GLOBAL STYLES ===*/

/* == customization checklist == */

/* [ ] colors */
/* [ ] radius */
/* [ ] space */

/* === root values and variables === */

:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.3s;
}

/* colors */

:root {
    --primary-main: rgb(44, 0, 94);
    --primary-variant: color-mix(in srgb, var(--primary-main), #000515 10%);
    --primary-emphasis: color-mix(in srgb, var(--primary-main), #000515 45%);
    --secondary-main: color-mix(in srgb, var(--primary-main), #8888aa 80%);
    --secondary-variant: color-mix(in srgb, var(--secondary-main), #000515 10%);
    --secondary-emphasis: color-mix(
        in srgb,
        var(--secondary-main),
        #000515 45%
    );
    --light-main: color-mix(in srgb, var(--primary-main), #fafaff 100%);
    --light-variant: color-mix(in srgb, var(--light-main), #000515 10%);
    --light-emphasis: color-mix(in srgb, var(--light-main), #000515 45%);
    --dark-main: color-mix(in srgb, var(--primary-main), #000515 85%);
    --dark-variant: color-mix(in srgb, var(--dark-main), #000010 30%);
    --dark-emphasis: color-mix(in srgb, var(--dark-main), #000010 100%);
    --complementary-main: rgb(255, 118, 118);
    --complementary-variant: color-mix(
        in srgb,
        var(--complementary-main),
        #000515 5%
    );
    --complementary-emphasis: color-mix(
        in srgb,
        var(--complementary-main),
        #000515 30%
    );
    --accent-main: rgba(60, 20, 115, 1);
    --accent-variant: color-mix(in srgb, var(--accent-main), #000515 10%);
    --accent-emphasis: color-mix(in srgb, var(--accent-main), #000515 60%);
    --warning-main: rgba(235, 145, 15, 1);
    --warning-variant: color-mix(in srgb, var(--warning-main), #000515 5%);
    --warning-emphasis: color-mix(in srgb, var(--warning-main), #000515 40%);
    --danger-main: rgba(180, 25, 15, 1);
    --danger-variant: color-mix(in srgb, var(--danger-main), #000515 10%);
    --danger-emphasis: color-mix(in srgb, var(--danger-main), #000515 60%);
}

/* radius */

:root {
    --radius-0: 0;
    --radius-1: 0.2rem;
    --radius-2: 0.4rem;
    --radius-3: 0.6rem;
    --radius-4: 0.8rem;
    --radius-5: 1rem;
    --radius-6: 1.5rem;
    --radius-7: 2rem;
    --radius-8: 2.5rem;
}

/* space */

:root {
    --space-0: 0;
    --space-1: 1px;
    --space-2: 2px;
    --space-3: 3px;
    --space-4: 4px;
    --space-5: 0.5rem;
    --space-6: 0.75rem;
    --space-7: 1rem;
    --space-8: 1.5rem;
    --space-9: 2rem;
    --space-10: 2.5rem;
}

/* == box sizing == */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* == styles == */

body {
    background-color: var(--light-main);
}

.row {
    padding: var(--space-6);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 6.25%;
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: 12.5%;
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    width: 18.75%;
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

.col-5 {
    width: 31.25%;
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 37.5%;
    display: flex;
    flex-wrap: wrap;
}

.col-7 {
    width: 43.75%;
    display: flex;
    flex-wrap: wrap;
}

.col-8 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.col-9 {
    width: 56.25%;
    display: flex;
    flex-wrap: wrap;
}

.col-10 {
    width: 62.5%;
    display: flex;
    flex-wrap: wrap;
}

.col-11 {
    width: 68.75%;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.col-13 {
    width: 81.25%;
    display: flex;
    flex-wrap: wrap;
}

.col-14 {
    width: 87.5%;
    display: flex;
    flex-wrap: wrap;
}

.col-15 {
    width: 93.75%;
    display: flex;
    flex-wrap: wrap;
}

.col-16 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.w-1 {
    width: 6.25%;
}

.w-2 {
    width: 12.5%;
}

.w-3 {
    width: 18.75%;
}

.w-4 {
    width: 25%;
}

.w-5 {
    width: 31.25%;
}

.w-6 {
    width: 37.5%;
}

.w-7 {
    width: 43.75%;
}

.w-8 {
    width: 50%;
}

.w-9 {
    width: 56.25%;
}

.w-10 {
    width: 62.5%;
}

.w-11 {
    width: 68.75%;
}

.w-12 {
    width: 75%;
}

.w-13 {
    width: 81.25%;
}

.w-14 {
    width: 87.5%;
}

.w-15 {
    width: 93.75%;
}

.w-16 {
    width: 100%;
}

.border {
    border: var(--space-1) solid !important;
}

.border-thicker {
    border: var(--space-2) solid !important;
}

.border-thickest {
    border: var(--space-3) solid !important;
}

.text-bg-primary {
    background-color: var(--primary-main);
    color: var(--light-main);
}

.text-bg-secondary {
    background-color: var(--secondary-main);
    color: var(--light-main);
}

.text-bg-light {
    background-color: var(--light-main);
    color: var(--dark-main);
}

.text-bg-dark {
    background-color: var(--dark-main);
    color: var(--light-main);
}

.text-bg-complementary {
    background-color: var(--complementary-main);
    color: var(--dark-main);
}

.text-bg-accent {
    background-color: var(--accent-main);
    color: var(--light-main);
}

.text-bg-warning {
    background-color: var(--warning-main);
    color: var(--dark-main);
}

.text-bg-danger {
    background-color: var(--danger-main);
    color: var(--light-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: var(--space-7);
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    width: 100%;
    margin-bottom: var(--space-6);
}

.skeu-primary {
    box-shadow: 0 var(--space-4) var(--primary-emphasis);
}

.skeu-primary:active {
    box-shadow: 0 var(--space-3) var(--primary-emphasis);
    transform: translateY(calc(var(--space-4) - var(--space-3)));
}

.skeu-secondary {
    box-shadow: 0 5px var(--secondary-emphasis);
}

.skeu-secondary:active {
    box-shadow: 0 3px var(--secondary-emphasis);
    transform: translateY(2px);
}

.skeu-light {
    box-shadow: 0 5px var(--light-emphasis);
}

.skeu-light:active {
    box-shadow: 0 3px var(--light-emphasis);
    transform: translateY(2px);
}

.skeu-dark {
    box-shadow: 0 5px var(--dark-emphasis);
}

.skeu-dark:active {
    box-shadow: 0 3px var(--dark-emphasis);
    transform: translateY(2px);
}

.skeu-complementary {
    box-shadow: 0 5px var(--complementary-emphasis);
}

.skeu-complementary:active {
    box-shadow: 0 3px var(--complementary-emphasis);
    transform: translateY(2px);
}

.skeu-accent {
    box-shadow: 0 5px var(--accent-emphasis);
}

.skeu-accent:active {
    box-shadow: 0 3px var(--accent-emphasis);
    transform: translateY(2px);
}

.skeu-warning {
    box-shadow: 0 5px var(--warning-emphasis);
}

.skeu-warning:active {
    box-shadow: 0 3px var(--warning-emphasis);
    transform: translateY(2px);
}

.skeu-danger {
    box-shadow: 0 5px var(--danger-emphasis);
}

.skeu-danger:active {
    box-shadow: 0 3px var(--danger-emphasis);
    transform: translateY(2px);
}

.btn {
    background-color: var(--transparent-main);
    border: 0;
    border-radius: var(--radius-3);
    padding: 0.75em;
    cursor: pointer;
    display: block;
}

.btn-primary {
    background-color: var(--primary-main);
    border-color: var(--primary-emphasis) !important;
    color: var(--light-main);
}

.btn-primary:hover {
    background-color: var(--primary-variant);
}

.btn-primary:active {
    background-color: var(--primary-variant);
    border-color: var(--primary-emphasis) !important;
}

.btn-secondary {
    background-color: var(--secondary-main);
    border-color: var(--secondary-emphasis) !important;
    color: var(--light-main);
}

.btn-secondary:hover {
    background-color: var(--secondary-variant);
}

.btn-secondary:active {
    background-color: var(--secondary-variant);
    border-color: var(--secondary-emphasis) !important;
}

.btn-light {
    background-color: var(--light-main);
    border-color: var(--light-emphasis) !important;
    color: var(--dark-main);
}

.btn-light:hover {
    background-color: var(--light-variant);
}

.btn-light:active {
    background-color: var(--light-variant);
    border-color: var(--light-emphasis) !important;
}

.btn-dark {
    background-color: var(--dark-main);
    border-color: var(--dark-emphasis) !important;
    color: var(--light-main);
}

.btn-dark:hover {
    background-color: var(--dark-variant);
}

.btn-dark:active {
    background-color: var(--dark-variant);
    border-color: var(--dark-emphasis) !important;
}

.btn-complementary {
    background-color: var(--complementary-main);
    border-color: var(--complementary-emphasis) !important;
    color: var(--dark-main);
}

.btn-complementary:hover {
    background-color: var(--complementary-variant);
}

.btn-complementary:active {
    background-color: var(--complementary-variant);
    border-color: var(--complementary-emphasis) !important;
}

.btn-accent {
    background-color: var(--accent-main);
    border-color: var(--accent-emphasis) !important;
    color: var(--light-main);
}

.btn-accent:hover {
    background-color: var(--accent-variant);
}

.btn-accent:active {
    background-color: var(--accent-variant);
    border-color: var(--accent-emphasis) !important;
}

.btn-warning {
    background-color: var(--warning-main);
    border-color: var(--warning-emphasis) !important;
    color: var(--dark-main);
}

.btn-warning:hover {
    background-color: var(--warning-variant);
}

.btn-warning:active {
    background-color: var(--warning-variant);
    border-color: var(--warning-emphasis) !important;
}

.btn-danger {
    background-color: var(--danger-main);
    border-color: var(--danger-emphasis) !important;
    color: var(--light-main);
}

.btn-danger:hover {
    background-color: var(--danger-variant);
}

.btn-danger:active {
    background-color: var(--danger-variant);
    border-color: var(--danger-emphasis) !important;
}
